<!DOCTYPE html>
<html>
<head>
	<title>River Level Visualisation</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='MarkerCluster.css') }}" />
	<link rel="stylesheet"href="{{url_for('static', filename='MarkerCluster.Default.css') }}" />
	<link rel="stylesheet"href="{{url_for('static', filename='shCoreEclipse.css') }}" />

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

	<style>
		html, body {
   		height: 100%;
/*    		width: 100%; */
		}
		
		body { 
			margin-top: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom:0px;
			}
		
		#map {
/* 			width: 1270px;			 */
/* 			height: 600px; */
			
			width: 100%;
			height: 100%;
		}

		.info {
			padding: 6px 8px;
			font: 12px/16px Arial, Helvetica, sans-serif;
			width: 33%;
			/* text-align: left; */
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		.info h4 {
/* 			text-align: center; */
			font-weight: bold;
			font-size:16px;
			margin: 0 0 5px;
			color: #777;
		}

		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}
		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}
	    #tweet {

    		position: fixed;
			top: 10px;
			left:50px;
			z-index: 1050;

		}
		
		canvas { 
			background: black;
			opacity: 0.75 		
				}

	
	</style>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/sonic.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
	<script type="text/javascript" src="static/js/heatmap.js"></script>    
    <script type="text/javascript" src="static/js/heatmap-leaflet.js"></script>
	<script type="text/javascript" src="static/js/QuadTree.js"></script>
	<script type="text/javascript" src="static/js/leaflet.markercluster-src.js"></script>
<!-- 	<script type="text/javascript" src="static/js/webgl-heatmap.js"></script> -->
<!-- 	<script type="text/javascript" src="static/js/webgl-heatmap-leaflet.js"></script> -->
	<script type="text/javascript" src="static/js/shCore.js"></script>
	<script type="text/javascript" src="static/js/shBrushJScript.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


	<script type="text/javascript">

String.prototype.replaceAll = function (targetString, subString) {
 var inputString = this;
 inputString = inputString.replace(new RegExp(targetString, 'g'), subString); //replace a string globally and case sensitive
 
return (inputString);
};

	
	
function init(){

		Update = "{{UP}}"
		$.browser.device = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()));
		
		if ($.browser['device']==true) { z = 5}
		else {z = 7}
		
		var map = new L.Map("map").setView([52, -2.5],z);;
        markerLayers = new L.LayerGroup();

		
		var baseLayer = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; 2014 OpenStreetMap contributors, Imagery &copy; 2014 CloudMade. All data courtesy of the <a href=http://www.environment-agency.gov.uk/ target=_blank>Environment Agency</a>',
// 			key: 'BC9A493B41014CAABB98F0471D759707',
			key: "{{CLD|safe}}",
			styleId: 117673

		})
		
		map.addLayer(baseLayer)
		
		if ($.browser['device']==true) {map.locate({setView: true, maxZoom: 11})}
		else {console.log('device==false')}
		
// 		map.locate({setView: true, maxZoom: 13});
// 		heatmap = new L.TileLayer.WebGLHeatMap({size: 30000, autoresize: true, opacity: 0.50, alphaRange: 0.3});
   		
   		var heatmapLayer = L.TileLayer.heatMap({
					// radius could be absolute or relative
					// absolute: radius in meters, relative: radius in pixels
					radius: { value: 12000, absolute: true },
			        //radius: { value: 20, absolute: false },
					opacity: 0.9,
	
					gradient: {
						1:	    '#9e0142',
						0.95:	'#d53e4f',
						0.9:	'#f46d43',
						0.85:	'#fdae61',
						0.8:	'#fee08b',
						0.75:	'#ffffbf',
						0.7:	'#e6f598',
						0.65:	'#abdda4',
						0.6:	'#66c2a5',
						0.55:	'#3288bd',
						0.5:	    '#5e4fa2'
				}
				
				});
                
   
        var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};
		
		info.update = function (props) {
			this._div.innerHTML = '<h4>UK River Levels</h4>' + 
		'All data taken from the Environment Agency website which provides additional information on each station. No guarantee is given as to the'
		+' accuracy of this data. <hr/><b>Last Page Update: '+Update+'</strong>'  
		};

		info.addTo(map);           
              
		
		
		
		
		var URL = 'http://www.environment-agency.gov.uk/homeandleisure/floods/riverlevels/120717.aspx?stationId='

		dat ={{dat|safe}}
	
		
		data = dat
		DT = []
		for (var j=0; j<dat.length; j++)
// 			{ DT.push(JSON.parse(dat[j].replace(/[u']/g, '')))}
			{ DT.push(JSON.parse(dat[j].replaceAll("u'", '').replaceAll("'",'')))}
		

		data = DT
		         
        testData = {}
  		testData.max = 40
  		testData.data = []
		
		Pscale = d3.scale.pow().exponent(2)
		function ramp(x){if (x>1) {return x*3} else {return x}}
		
		var markers = new L.MarkerClusterGroup({showCoverageOnHover: false});
        
        for(var i=0,l=data.length; i<l; i++) {
                    
  				a = {}
  				a.lat = data[i][0]
  				a.lon = data[i][1]
  				a.value = data[i][2]
//   				a.value = Pscale(ramp(data[i][2]/10)) # scale test
  				testData.data.push(a)
  				
                   
                   
                    if(data[i][2]>= 0) {
                        
                        marker = new L.Marker(new L.LatLng(data[i][0], data[i][1]));
                        
                        Lat = parseFloat(data[i].toString().split(',')[0]).toFixed(5)
                        Lon = parseFloat(data[i].toString().split(',')[1]).toFixed(5)
//                         Risk = data[i].toString().split(',')[2]
//                         Risk = data[i][2].toFixed(3)
                        Risk = parseFloat(10*data[i][2]).toFixed(4)
                        R2 = Risk.toString()
                        if (Risk.indexOf('.') == 3)
                        	{sli = 5}
                        else
                        	{sli=4} 
                        R2 = R2.slice(0,sli)
//                         R2 = Risk.slice(0,4)
                        if (parseFloat(Risk)>=110) {t = '<font color=red>'}
                        else {t = '<font color=green>'}
                        marker.bindPopup('<strong>'+data[i][4]+'</strong>' + '<br>'+ '<b>'+'Lat: '+'</b>' + Lat + '<b>'+' Lon: '+'</b>'+ Lon + '<br><br>'+'Current Level is ' + '<b>'+data[i][6]+'m  '+'</b>' + '('+'<b>'+t+R2+'% '+'</b>' + '<font color=black>' + 'of Typical High)' + '<br><br>' + '(Last Updated: ' + data[i][3]+')'+' [EE ref: '+'<a href='+ URL+data[i][5]+ " target=_blank"+">"+data[i][5]+"</a>"+']') ;
                        markers.addLayer(marker)
//                         markerLayers.addLayer(marker);
                    }
                }
//                 map.addLayer(heatmap);
                heatmapLayer.setData(testData.data);
                
                map.addLayer(heatmapLayer);
                map.addLayer(markers);
                $('.sonic').remove()
                L.control.layers(null, {"River Level Heatmap":heatmapLayer, "Station Locations": markers}).addTo(map);
           		


            
            }
// $('#tweet').delay(8000).fadeIn(400);


</script>
</head>
<body onload="init();">
<script>
square = new Sonic({
    width: 200,
    height: 200,
    padding:0,
    fillColor: 'black',
//     strokeColor: 'black',
//     background: 'white',
    
    path: [
        ['line', 10, 10, 90, 10],
        ['line', 90, 10, 90, 90],
        ['line', 90, 90, 10, 90],
        ['line', 10, 90, 10, 10]
    ]
});


document.body.appendChild(square.canvas);
square.canvas.style.top = 45+'%'
square.canvas.style.left = 45+'%'
square.canvas.style.background = 'white'
square.canvas.style.position = 'fixed'
square.play()
</script>


<div id="tweet" style="width:30px" overflow:hidden>
<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" style="width:30px">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="map">
</div>
</body>
</html>
