<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css') }}" type="text/css">
</head>

<style>
.list-group-item-heading
	{
	font-size: 26px
	}
.list-group-item-text
	{
	font-size: 16px
	}

</style>

<body>
    <div class='container well'>
        <center>  
            <ul class="nav nav-pills nav-justified">
		        <li><a href="/">Home</a></li>
		        <li class="active"><a href="stats">Stats</a></li>
		        <li><a href="input">Input</a></li>
		    </ul>
		       
			   <h3 style="margin-top:40px;">Collection and Database Stats</h3>
		
        </center>
    </div>

<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Mongo Documents</h4>
        <p class="list-group-item-text">Number of documents in mongo collection ({{dbn}}):    <strong>{{num}}</strong></p>
    </a>
<!--     <a href="#" class="list-group-item active"> -->
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Collection Contents</h4>
        <p class="list-group-item-text">Documents: <strong>{{desc2}}</strong></p>
	
	<a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Database and Collection Overview</h4>
        <p class="list-group-item-text">database overview: <br>{{dbstat}}<br><br>collection overview: <br>{{colstat}}</p>
	</a>
        
</div>
</body>
</html>